<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.sportperformancemanagement.player">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Match Detail Activity shows a match in detail and has the functionality to start
         listening for location updates. It has as parent the match list -->
        <activity
            android:name="eu.sportperformancemanagement.player.MatchDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.sportperformancemanagement.player.MatchListActivity" />
        </activity>
        <!-- Player Activity lets the user select the player he/she is. Has as parent the match list -->
        <activity
            android:name="eu.sportperformancemanagement.player.PlayerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.sportperformancemanagement.player.MatchListActivity" />
        </activity>
        <!-- This activity shows a list of matches, which the user can select -->
        <activity
            android:name="eu.sportperformancemanagement.player.MatchListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
